<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>Users list to test</h1>
        <table>
            <thead>
                <tr>
                    <th> Username </th>
                    <th> Password </th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="user : ${listUsers}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                </tr>

            </tbody>

        </table>
    </div>
</body>
</html>